@use '../../abstracts/' as *;

.product-view {
	.image-viewer {
		.viewer__images {
			display: flex;
			max-height: $image-view-main-size;
			height: 100%;

			overflow-x: hidden;
			overflow-y: auto;

			scrollbar-width: none;
		}

		.viewer__images .image__view {
			min-width: 4rem;
			max-width: 4rem;
			aspect-ratio: 1;
		}

		.viewer__main-image {
			max-width: $image-view-main-size;

			&[data-image-type='long'] {
				aspect-ratio: 1 / 2;
			}

			&[data-image-type='default'] {
				aspect-ratio: 1;
			}
		}
	}

	.view__header {
		grid-template-columns: $product-view-header-grid;
	}
}

@media screen and (max-width: #{$breakpoint-small}) {
	.product-view .image-viewer {
		flex-direction: column-reverse !important;

		.viewer__images {
			overflow-x: auto;
			overflow-y: hidden;

			scrollbar-width: auto;
		}
	}
}
