@use '../../abstracts/' as *;

.loader {
	&::after {
		content: '';
		position: absolute;

		bottom: $loader-bottom;
		width: 100%;
		height: $loader-height;

		background-color: var(--clr-text-accent);

		animation: smoothBar $loader-animation-duration ease-in-out infinite;
	}

	span {
		color: var(--clr-text-muted);
	}
}
