@use './_colors.scss' as *;

// Root colors

// Containers
$main-container-width: 100%;
$main-container-padding: 1rem;

$secondary-container-width: 900px;

// =================
// Utilities
// =================
$border-radius-cubed: 9px;

// =================
// Components
// =================
// Navbar

$navbar-mobile-dropdown-inset: 30% 4rem auto;

// Input
$def-input-font-size: var(--fs-350);
$def-input-padding: 0.7em 1.5em;
$def-input-background-color: var(--clr-input-background);
$def-input-border: 2px solid var(--clr-input-border);
$def-input-border-radius: 100vmax;
$def-input-border-color-on-hov: var(--clr-input-border-on-hov);

$input-textarea-height: 4ch;

// Button
$def-button-font-size: var(--fs-400);
$def-button-padding: 0.5em 1.25em;
$def-button-background-color: var(--clr-primary-400);
$def-button-border-radius: 100vmax;
$def-button-background-color-on-hov: var(--clr-primary-500);
$def-button-color: white;

$button-hoverable-font-size: var(--fs-400);
$button-hoverable-padding: 0.75em;
$button-hoverable-background-color: transparent;
$button-hoverable-border-radius: $border-radius-cubed;
$button-hoverable-background-color-on-hov: hsl(0 0% 50% / 0.26);
$button-hoverable-color: var(--clr-accent-400);

// => Filter
$button-filter-font-size: var(--fs-400);
$button-filter-padding: 0.25em 0.75em;
$button-filter-background-color: hsl(0 0% 50% / 0.1);
$button-filter-border: 2px solid hsl(0 0% 50% / 0.26);
$button-filter-border-radius: $border-radius-cubed;
$button-filter-background-color-on-hov: hsl(0 0% 50% / 0.16);
$button-filter-color: var(--clr-text-muted);
$button-filter-color-on-hov: var(--clr-text-muted);
$button-filter-border-radius: 100vmax;

// Selects
$select-box-border: 2px solid hsl(0 0 50% / 0.36);
$select-box-background-on-hov: var(--clr-select-box-background-on-hov);
$select-box-background-on-select: var(--clr-primary-400);
$select-box-border-color-on-hov: var(--clr-primary-400);

// Card
$def-card-background-color: var(--clr-card-400);
$def-card-border-radius: $border-radius-cubed;

// Product Card
$product-image-min-width: 12rem;
$product-image-max-width: 12rem;
$product-image-desktop-max-height: 16rem;

$product-image-background: var(--clr-image-background);
$product-price-color: var(--clr-text-muted);
$product-background-color: var(--clr-card-primary);

// Star rater
$star-color: orange;

// Product view
$product-view-header-grid: 30% auto;

$image-view-size: 5rem;
$image-view-main-size: 18rem;

// Profile
$profile-width: 2.25em;

// =================
// Animations
// =================
$animation-background-color-highlight: var(--clr-blue-hover);

// =================
// Composition
// =================
$clr-column-split-border: var(--clr-hover-400);

// Media scroller
$media-scroller-max-width: 92vw;

// =================
// Misc
// =================
$flow-spacing: 0.5em;

$fw-heading: 500;
