@use '../../abstracts/' as *;

.products {
	.product {
		.product__image {
			width: clamp(12rem, 50%, 16rem);

			aspect-ratio: 1;
			background-color: $product-image-background;
		}

		.product__price {
			color: $product-price-color;
		}
	}
}
