@use '../../abstracts/' as *;

.products {
	.product {
		.product__image {
			min-width: $product-image-min-width;
			max-width: $product-image-max-width;

			aspect-ratio: 1;
			background-color: $product-image-background;
		}

		.product__price {
			color: $product-price-color;
		}

		background-color: $product-background-color;
	}
}
