@use '../../abstracts/' as *;
@use '../mixins' as *;

.button:is([data-variant='default']) {
	@include createButton($color: white);
}

.button:is([data-variant='hoverable']) {
	@include createButton(
		$padding: 0.75em,
		$color: var(--clr-accent-400),
		$color-on-hov: var(--clr-accent-400),
		$background-color: transparent,
		$border-radius: $border-radius-cubed,
		$background-color-on-hov: hsl(0 0% 50% / 0.26)
	);
}

.button:is([data-secondary-variant='select-list-item']) {
	& .item__checkbox {
		@include transformCenter($left: 6%);

		position: absolute;
		visibility: hidden;
	}

	&:is(:focus-visible, :hover) .icon {
		visibility: hidden;
	}

	&:is(:focus-visible, :hover) .item__checkbox {
		visibility: visible;
	}
}

// ========================
// Fixing issues
// =========================
.button {
	display: grid;

	& .icon {
		place-self: center;
	}
}

.button:is([data-selected='true']) {
	color: white;

	background-color: $select-box-background-on-select;
	border-color: $select-box-background-on-select;
}
